html {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: red;
}

body {
    background-color: black;
}

#game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25vh 25vh;
}

#game-screen img {
    margin: 5px 5px;
}

#answer-choices {
    display: flex;
    justify-content: center;
    color: white;
}

#answer-choices h1 {
    margin: 10px 20px;
}

#question-mark {
    color: white;
    font-size: 5vh;
}